.scheme {
    height: 393px;
    width: 768px;
    margin: 0 auto;
    position: relative;
}

.scheme svg {
    position: absolute;
    top: 0px;
    left: 15px;
    height: 393px;
    width: 738px;
}

/*default  schema*/
.scheme polygon {
    fill: greenyellow;
    cursor: pointer;
}

/* Color for mouse hover and active */
.scheme polygon:hover, #hover {
    fill: lightgrey;
}
/*if click active*/
.scheme polygon.active {
    fill: lightgrey !important;
}

/* Names and prompts */
.scheme-item {
    position: absolute;
    cursor: pointer;
}

.scheme-name {
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    line-height: 13px;
}

.scheme-popup {
    display: none;
    border: 1px solid #777;
    padding: 10px;
    width: 200px;
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.svg_img {
    height: 393px;
    width: 739px;
}